
{% extends 'base.html' %}
{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
<div class="d-flex justify-content-center m-5">
  <div class="p-4 m-4 rounded login-form-container border border-secondary bg-light">
    <form method="post" action="{% url 'login' %}" class="form-group">
      {% csrf_token %}
      <table class="table table-borderless ">
        <tbody>
          <tr>
            <td class="text-end"><label for="{{ form.username.id_for_label }}" class="col-form-label">{{ form.username.label }}</label></td>
            <td>{{ form.username }}</td>
          </tr>
          <tr>
            <td class="text-end"><label for="{{ form.password.id_for_label }}" class="col-form-label">{{ form.password.label }}</label></td>
            <td>{{ form.password }}</td>
          </tr>
        </tbody>
      </table>
      <button type="submit login-btn" class="btn btn-dark">Submit</button>
      <input type="hidden" name="next" value="{{ next }}">
      <div class=" d-flex justify-content-between">
        <p class="mt-3">
          <a href="{% url 'password_reset' %}" class="text-dark">Lost password?</a>
        </p>
        <p class="mt-3">
          <a href="" class="text-dark">New? Sign up</a>
        </p>
      <div>
    </form>

  </div>
</div>



{% endblock %}
