{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center m-5">
  <div class="p-4 m-4 rounded login-form-container border border-secondary bg-light">
    <form method="post" action="{% url 'password_reset' %}" class="password-reset-form">
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
      <label for="{{ form.email.id_for_label }}" class="col-form-label">Email address:</label>
        <p>{{ form.email }}</p>
      <button type="submit" class="btn btn-dark password-reset-button">Reset Password</button>
    </form>
  </div>
</div>
{% endblock %}