@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Tangerine:wght@400;700&display=swap');

.card {
    padding: 0 !important;
}

.author-card .card-img-top {
    height: 15rem;
    object-fit: cover;
}

.book-card .card-img-top {
    height: 18.5rem;
    object-fit: contain;
}

.book-genre-button {
    background-color: #2F888E !important;
    border: none;
}

.book-subgenre-button {
    background-color: #557996 !important;
    border: none;
}


.banner-img {
    height: 500px;
    aspect-ratio: 4 / 1;
    object-fit: cover;
    object-position: top;
}

.custom-beige {
    background-color: #fff5f2;
}

.custom-brown {
    background-color: #582b39;
}

.custom-light-brown {
    background-color: #89726d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Alegreya' !important;
}


.btn-dark {
    font-family: 'Alegreya' !important;
}

.banner-title {
    font-size: clamp(4rem, 15vw, 12rem) !important;
    font-family: 'Alegreya' !important;
    color: #fefedf !important;
    text-shadow:
        3px 3px 0 #000,
        -3px 3px 0 #000,
        -3px -3px 0 #000,
        3px -3px 0 #000 !important;

}

.banner-tagline {
    font-family: 'Tangerine' !important;
    font-weight: 700 !important;
    font-size: clamp(3rem, 10vw, 3.75rem)
}

.navbar-brand {
    font-family: 'Alegreya' !important;
    font-weight: 600;
}

.resized-img {
    height: 60vh !important;
    object-fit: cover !important;
}

.books-by-author {
    background-color: #c6bdba !important;
}

.author-book {
    width: 15.5rem !important;

}

.author-book img {
    aspect-ratio: 1 / 1.5 !important;
}

.author-book-link {
    text-decoration: none !important;
    color: black !important;
}

.footer {
    font-family: sans-serif !important;
}